{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Paisaje</h1>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium a iure voluptatem ut consectetur et.
            Optio ipsam ut accusantium facilis pariatur maxime quaerat, aliquid recusandae quos consequuntur totam
            temporibus corrupti.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/paisaje.jpg" class="img-thumbnail" alt="">
    </div>

</div>

{{> footer }}